
html {
    background-color:yellow
}
 
.hobby{
    text-align: center;
    color: green;
}
.Game{
 
    color:red
}
.cric{
    color:black
}
.read{
    color:violet
}

.para{
    color: red;
}
.ket{
    color : purple
}
.ing{
    color : grey
}
